* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none !important;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgb(244, 95, 137),
        rgb(226, 100, 149),
        rgb(208, 104, 161),
        rgb(188, 108, 173),
        rgb(170, 113, 185),
        rgb(151, 117, 197),
        rgb(133, 121, 209),
        rgb(114, 126, 221),
        rgb(95, 130, 232),
        rgb(77, 134, 244)
    );
    background-repeat: repeat-x;
    background-attachment: fixed;
}

main {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    padding: 0 18rem;
}

.esquerda {
    flex-basis: 50%;
    height: 300px;
    
    color: #f0eded;

}

.esquerda h1 {
    font-size: 4rem;
    font-weight: 700;

}

.esquerda > p {
    display: inline-block;
    font-size: 2.7rem;
    font-weight: 300;
    text-wrap: wrap;
    width: 87%;
    margin-top: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 44.0rem;
    max-width: 44.0rem;
    min-height: 50.0rem;
    max-height: 50rem;
    background-color: #f0eded;
    padding: 3.5rem 2rem;
    border-radius: 3px;
}

.inputs {
    min-width: 40rem; 
    padding: 1.4rem 1.5rem;
    border-radius: 0.7rem;
    max-width: 40rem;
    border: 1.59px solid #000;
}

#mensagem {
    min-height: 4rem;
}

#enviar {
    display: flex;
    background: #3CCC87;
    padding: 1.2rem 10rem;
    border-radius: 0.5rem;
    color: #f0eded;
    font-size: 2rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#enviar:hover {
    background: #35b175;

}

#enviar:active {
    border: 2px solid #54e29ef0;
}

#enviar a {
    text-decoration: none;
}

#aviso {
    font-size: 1.7rem;
    font-weight: bold;

}

.validado {
    border: 2px solid #00C22B ;
    }
    
.invalidado {
    border: 2px solid #F52E2E;
}

.invalidado::before {
    content: "campo obrigatório";
    color: red;
    font-size: 1.2rem;

}

/* -------- MODAL --------------- */
.modal-confirm {		
	color: #636363;
	width: 325px;
	font-size: 14px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #6fb32b;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}